@tailwind base;
@tailwind components;
@tailwind utilities;

.friend-list::-webkit-scrollbar {
    width: 8px;
  }
  
  .friend-list::-webkit-scrollbar-thumb {
    background-color: #4b5563; 
    border-radius: 10px;
  }
  
  .friend-list::-webkit-scrollbar-track {
    background-color: #1f2937; 
  }
  
  .friend-list::-webkit-scrollbar-thumb:hover {
    background-color: #6b7280;
  }
  